/* 네브바설정 */
.navbar {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 10vh;
}
.leftBox {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logoImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
}
.navTitle {
  font-weight: bolder;
  font-size: 20px;
}

.rightBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.navMenu {
  margin: 0px 10px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}
.navMenu:hover {
  color: red;
}
.navMenuTarget{
  color: #C82717;
}
/* 공통설정 */

.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding-top: 10vh;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.title1 {
  color: #C82717;
  font-weight: bold;
  margin-bottom: 15px;
  font-size: 12px;
}
.title2 {
  font-size: 24px;
  font-weight: bolder;
  margin-bottom: 15px;
}
.titleBox {
  display: flex;
  flex-direction: column;
  width: 50vw;
  margin-bottom: 20px;
}
.formBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50vw;
  margin-bottom: 20px;
}

.formBox label {
  margin-bottom: 5px;
}

.formBox input {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px 0px;
}

.buttonContainer {
  width: 50vw;
  display: flex;
  justify-content: space-between;
}

.submitButton {
  width: 22vw;
  color: white;
  border-radius: 5px;
  background-color: #c73f32;
  border: none;
  padding: 10px 0px;
  cursor: pointer;
}
.deleteStore {
  margin-top: 20px;
  cursor: pointer;
}
.deleteStore:hover {
  text-decoration: underline;
}
