/* 네브바설정 */
.navbar {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 10vh;
}
.leftBox {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logoImg {
  width: 150px;
  height: 80px;
  border-radius: 50%;
  border: none;
  margin-left: 32px;
}
.navTitle {
  margin-left: 24px;

  font-weight: bolder;
  font-size: 24px;
}

.rightBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.navMenu {
  margin: 10px;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}
.navMenuTarget{
color: red
}
.navMenu:hover {
  color: #C82717;
}

/* 공통설정 */

.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding-top: 10vh;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.title1 {
  color: #C82717;
  font-weight: bold;
  margin-bottom: 15px;
  font-size: 16px;
}
.title2 {
  font-size: 28px;
  font-weight: bolder;
  margin-bottom: 15px;
}
.titleBox {
  display: flex;
  flex-direction: column;
  width: 50vw;
  margin-bottom: 20px;
}
.formBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50vw;
  margin-bottom: 20px;
}

.formBox label {
  margin-bottom: 5px;
}

.formBox input {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
}

.submitButton {
  width: 50vw;
  color: white;
  border-radius: 5px;
  background-color: #C82717;

  border: none;
  padding: 10px;
  cursor: pointer;
}
.search-bar {
  display: flex;
  border: 2px solid #d4d4d4;
  border-radius: 20px;
  overflow: hidden;
}

.search-bar input[type="text"] {
  border: none;
  padding: 10px;
  width: 300px;
  outline: none;
}

.search-bar button {
  border: none;
  background-color: #C82717;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #561109;
}

.search-icon {
  padding: 10px;
  background: #e8e8e8;
  display: flex;
  align-items: center;
}

.search-icon img {
  width: 20px;
}

* {
  box-sizing: border-box;
}


.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Increase the min size of the column */
  gap: 5rem;
  margin-top: 40px;
  margin-left: 200px;
  margin-right: 200px;

}

.image-card {
  border: 1px solid #ccc; /* Adjust border color and width as needed */
  border-radius: 15px; /* Adjust the border-radius as needed */
  padding: 8px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  overflow: hidden; /* Ensure that the children do not overflow the rounded corners */
}

.image-card img {
  border-radius: 15px; /* This should match the border-radius of the .image-card if you want the image itself also rounded */
  width: 100%;
  height: 240px;
  object-fit: cover;
}


/* Responsive adjustments */
@media (max-width: 768px) {
  .gallery {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjust number of columns for smaller screens */
  }
}

@media (min-width: 769px) {
  .gallery {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Adjust number of columns for larger screens */
  }
}


.image-category, .image-title {
  margin-top: .5rem; /* space between image and text */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 20px;
  width: 100%; /* to ensure text does not overflow the card width */
}
