<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>장바구니</title>
    <link rel="stylesheet" th:href="@{/css/cart.css}">
</head>
<body>
<!-- NAV BAR -->
<header class="navbar">
    <div class="leftBox">
        <img th:src="@{/images/logo.jpg}" alt="x" class="logoImg" />
        <p class="navTitle">Cart</p>
    </div>
    <div class="rightBox">
                <p class="navMenu" id="dashboard">Dashboard</p>
        <p class="navMenu" id="profile">Profile</p>
        <p class="navMenu navMenuTarget" id="cart">Cart</p>
        <!--        <p class="navMenu" id="order">Order Management</p>-->
    </div>
</header>
<div class="menu-container">
    <header>
        <h1 style="display: flex; justify-content: center;">장바구니</h1>
        <div class="store-info" style="display: flex; flex-direction: column; align-items: center;">
            <h2 th:text="${store.storeName}">Store Name</h2>
            <p th:text="'Phone: ' + ${store.phoneNumber}">Phone Number</p>
            <p th:text="'Address: ' + ${store.address}">Address</p>
        </div>
    </header>
    <section class="menu-section">
        <div th:each="cartItem, iterStat : ${cartItems}" class="menu-item" th:data-price="${cartItem.price}" th:attr="data-menu-id=${cartItem.menuId}">
            <div class="item-header">
                <h2 th:text="${cartItem.menuName}">Menu Name</h2>
                <p th:text="${cartItem.description}">Menu Description</p>
            </div>
            <p th:text="${cartItem.price} + '원'">Price</p>

            <div class="quantity-control">
                <button th:attr="data-index='${iterStat.index}'" class="decrease-quantity">-</button>
                <input type="text" th:value="${cartItem.quantity}" readonly class="menu-quantity">
                <button th:attr="data-index='${iterStat.index}'" class="increase-quantity">+</button>
            </div>
            <p class="total-price-item" th:text="${#numbers.formatDecimal(cartItem.price * cartItem.quantity, 1, 'COMMA', 0, 'POINT')} + '원'">Total Price</p>
            <button th:attr="data-index='${iterStat.index}'" class="delete-item-btn">X</button>
        </div>
    </section>

    <footer id="checkout">
        <input type="hidden" name="userId" th:value="${userId}">
        <button type="button" id="checkoutButton" class="checkout-button" th:text="${#numbers.formatInteger(totalPrice, 0)} + '원 결제하기'">결제하기</button>
    </footer>

</div>
<!-- JS -->
<script th:src="@{/js/navbar.js}"></script>
<script th:src="@{/js/cart.js}"></script>

</body>
</html>
