<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>결제 완료</title>
  <link rel="stylesheet" th:href="@{/css/checkout.css}">
</head>
<body>
<!-- NAV BAR -->
<header class="navbar">
  <div class="leftBox">
    <img th:src="@{/images/logo.png}" alt="x" class="logoImg" />
    <p class="navTitle">Checkout</p>
  </div>
  <div class="rightBox">
            <p class="navMenu" id="dashboard">Dashboard</p>
    <p class="navMenu" id="profile">Profile</p>
    <p class="navMenu navMenuTarget" id="cart">Cart</p>
    <!--        <p class="navMenu" id="order">Order Management</p>-->
  </div>
</header>
<div class="container">
  <div class="header">
    <h1>주문번호 # <span th:text="${orders.orderId}"></span></h1>

    <p th:text="'전화번호: ' + ${orders.phoneNumber}">phoneNumber</p>
    <p th:text="'주소: ' + ${orders.address}">address</p>

    <p class="total-price" th:text="'총 결제 금액: ' + ${#numbers.formatInteger(orders.totalPrice, 0)} + '원'">총 결제 금액: 25,000원</p>

    <button class="btn-pay" th:text="${orders.orderStatus}">주문 완료</button>
  </div>
  <div class="order-details">
    <h2>주문내역</h2>
    <div th:each="item : ${orders.orderDetails}" class="menu-item">
      <h3 th:text="${item.menuName}">Menu Name</h3>
      <p th:text="${item.description}">Description</p>
      <p th:text="'Quantity: ' + ${item.quantity}">Quantity</p>
      <p th:text="'Price: ' + ${#numbers.formatDecimal(item.price * item.quantity, 1, 0)} + '원'">Price</p>
    </div>
  </div>
</div>
<script th:src="@{/js/navbar.js}"></script>
</body>
</html>
