<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reviews</title>
  <link rel="stylesheet" th:href="@{/css/reviews.css}">
</head>
<body>
<!-- NAV BAR -->
<header class="navbar">
  <div class="leftBox">
    <img th:src="@{/images/logo.jpg}" alt="x" class="logoImg" />
    <p class="navTitle">Menu</p>
  </div>
  <div class="rightBox">
    <p class="navMenu navMenuTarget" id="dashboard">Dashboard</p>
    <p class="navMenu" id="profile">Profile</p>
    <p class="navMenu" id="cart">Cart</p>
    <!--        <p class="navMenu" id="order">Order Management</p>-->
  </div>
</header>
<div class="reviews-container">
<!--  <h1>리뷰</h1>-->
  <h1 th:text="${store.storeName} + ' - ' +${#numbers.formatDecimal(store.rating, 1, 'COMMA', 2, 'POINT')}+ ' ★'">Restaurant Name - Current Rating ★</h1>
  <button class="write-review-btn" th:onclick="'window.location.href=\'/store/'+${store.storeId}+'/review\''">리뷰 작성하기</button>

  <div th:each="review : ${reviews}" class="review">
    <h2 th:text="${review.userName}" class="reviewer-name">Reviewer Name</h2>
    <span class="rating">
        <th:block th:each="i : ${#numbers.sequence(1,5)}">
            <span th:if="${review.rating >= i}" th:text="'★'">Star</span>
            <span th:if="${review.rating < i}" th:text="'☆'">Star</span>
        </th:block>
    </span>
    <span class="score" th:text="${review.rating}">5/5</span>
    <p th:text="${review.comment}" class="review-comment">Comment</p>
  </div>
</div>

<script th:src="@{/js/navbar.js}"></script>

</body>
</html>
