<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review Form</title>
    <link rel="stylesheet" th:href="@{/css/review-write.css}">
</head>
<body>
<!-- NAV BAR -->
<header class="navbar">
    <div class="leftBox">
                <img th:src="@{/images/logo.png}" alt="x" class="logoImg" />
        <p class="navTitle">Write Review</p>
    </div>
    <div class="rightBox">
        <p class="navMenu navMenuTarget" id="dashboard">Dashboard</p>
        <p class="navMenu" id="profile">Profile</p>
        <p class="navMenu" id="cart">Cart</p>
        <!--        <p class="navMenu" id="order">Order Management</p>-->
    </div>
</header>

<div class="form-container">
    <h1>리뷰 작성</h1>
    <form id="reviewForm">
        <input type="hidden" id="userId" name="userId" th:value="${userId}">
        <input type="hidden" id="storeId" name="storeId" th:value="${storeId}">

        <label for="rating">점수를 선택하세요 *</label>
        <div id="rating">
            <input type="radio" id="star5" name="rating" value="5" /><label for="star5">★</label>
            <input type="radio" id="star4" name="rating" value="4" /><label for="star4">★</label>
            <input type="radio" id="star3" name="rating" value="3" /><label for="star3">★</label>
            <input type="radio" id="star2" name="rating" value="2" /><label for="star2">★</label>
            <input type="radio" id="star1" name="rating" value="1" /><label for="star1">★</label>
        </div>

        <label for="content">리뷰를 입력하세요 *</label>
        <textarea id="content" name="comment" placeholder="리뷰를 입력하세요" required></textarea>


        <button type="submit" class="submit-button">리뷰 등록하기</button>
    </form>
</div>

<script th:src="@{/js/navbar.js}"></script>
<script th:src="@{/js/review-write.js}"></script>


</body>
</html>
