<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Store Detail</title>
    <link rel="stylesheet" th:href="@{/css/store-detail.css}"/>
</head>
<body>

<div class="container">
    <header>
        <h1>상품 이름</h1>
        <div class="rating">★ 4.9 (1,234)</div>
    </header>

    <div class="card">
        <div class="menu-info">
            <div class="row row-cols-1 row-cols-md-4 g-4 mx-auto w-75 pb-5">
                <div th:each="menu : ${menus}" class="col">
                    <div class="card h-100">
                        <img th:src="${menu.imageUrl}" th:alt="${menu.name}" class="card-img-top" style="height: 200px;">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${menu.name}" style="font-size: 18px;"></h5>
                            <p class="card-text" th:text="${menu.price}" style="font-size: 15px;"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="review-button">리뷰 보기</button>

        <button class="order-button">주문하기</button>
    </div>
</div>

</body>
</html>

