<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile</title>
    <link rel="stylesheet" th:href="@{/css/user-profile.css}">
</head>
<body>
<!-- NAV BAR -->
<header class="navbar">
    <div class="leftBox">
                <img th:src="@{/images/logo.png}" alt="x" class="logoImg" />
        <p class="navTitle">Profile</p>
    </div>
    <div class="rightBox">
        <p class="navMenu" id="dashboard">Dashboard</p>
        <p class="navMenu navMenuTarget" id="profile">Profile</p>
        <p class="navMenu" id="cart">Cart</p>
    </div>
</header>
<div class="profile-container">
    <a href="#" class="back-button">‹</a>
    <h1>내 정보</h1>
    <div class="user-info">
        <p th:text="${userProfile.userName}">Username</p>
        <p th:text="'Phone Number: ' + ${userProfile.phoneNumber}">Phone Number</p>
        <p th:text="'Address: ' + ${userProfile.address}">Address</p>
        <p th:text="'Points Remaining: ' + ${userProfile.point}">Points Remaining</p>
    </div>
    <div class="points-form">
        <button class="redeem-button">내 주문내역 확인하기</button>
    </div>
</div>
<script th:src="@{/js/navbar.js}"></script>

</body>
</html>
